
.table {
    width: 800px;
    margin: 0 auto;
}

.transaction_history{
    width: 100%;
    border-collapse: collapse;
    background-color: #f0f0f0;
    text-align: center;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.thead {
    background-color: black;
    text-transform: uppercase;
}

.th {
    padding: 10px;
    border: 1px solid white;
    color: white;
}

.td {
    padding: 10px;
    border: 1px solid white;
}

.tr:nth-of-type(odd) {
    background-color: white;
}